body {
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #555;
  padding-top: 60px;
}

a {
  text-decoration: none;
  color: #3084bb;
}

a:active, a:focus {
  outline: none;
}

.main {
  background-color: #faf9f9;
  border-radius: 10px;
}

.main .nav {
  padding: 0.5em 2em;
}

.container {
  width: 100%;
}

.nav .breadcrumb {
  float: left;
  margin: 7px 10px;
  background: inherit;
}

img.logo {
  width: 50px;
  float: left;
  padding-right: 10px;
  margin-top: 5px;
  margin-left: 1em;
}

.breadcrumb > .active {
  color: #ccc !important;
}

.breadcrumb > li + li::before {
  color: #ccc;
  content: "\00BB";
  padding: 0 10px 0 0;
}

.breadcrumb.list-inline > li {
  padding-right: 0;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 10px;
  overflow-x: hidden;
}

.flex-folder {
  position: relative;
  border: 3px solid transparent;
  margin: 20px;
  width: 100px;
  height: 100px;
  opacity: 0.8;
}

.flex-folder a {
  text-decoration: none;
  color: inherit;
}

.flex-folder.folder-short {
  box-shadow: 0 0 8px rgba(0,0,0,.3);
}

.flex-folder img {
  width: 94px;
}

.flex-folder p {
  bottom: -0.5em;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-family: Georgia,"Times New Roman",serif;
  position: absolute;
}

.legend {
  line-height: 2em;
  opacity: 0;
}

.folder-short p {
  right: 0;
  font-size: 300%;
}

.folder-long p, .folder-normal p {
  padding-left: 5px;
  font-size: 150%;
  white-space: nowrap;
  overflow: hidden;
  width: 100px;
  padding-bottom: 6px;
  bottom: -10px;
}

.folder-long p:hover {
  width: inherit;
  z-index: 20;
  background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 22%, rgba(0,0,0,0.65) 48%, rgba(0,0,0,0.65) 100%);
  border-radius: 10px;
  padding: 4px 6px 6px 5px;
}

.folder-thumb {
  border: 3px solid white;
  box-shadow: 0 0 8px rgba(0,0,0,.3);
}

.flex-img img {
  width: 100px;
  height: 100px;
  border: 3px solid white;
  box-shadow: 0 0 8px rgba(0,0,0,.3);
  margin: 20px;
}

.month, .day {
  text-shadow: 1px 1px 1px #cccccc;
}

.month, .picture {
  border-bottom: 1px solid #ddd;
  font-size: 150%;
  padding: 0.5em;
}

.day {
  font-size: 120%;
  padding: 1em;
}

.nada {
  font-size: 150%;
  padding-left: 0.5em;
}

.select {
  user-select: all;
  cursor: pointer;
}

.picture span.media {
  font-size: 60%;
  color: #888;
}

.fancybox-tmp {
  display: none;
}

.fancybox-title-inside-wrap img {
  width: 16px;
  vertical-align: bottom;
}

.fancybox-nav span {
  visibility: visible;
  opacity: 0.5;
}

.fancybox-nav:hover span {
  opacity: 1;
}

.fancybox-next {
  right: -35px;
}

.fancybox-prev {
  left: -35px;
}

.fancybox-title {
  line-height: 1.5em !important;
}

.fancybox-title .tag {
  text-align: right;
  display: inline-block;
}

.fancybox-title .left {
  padding-bottom: 10px;
}

.tag input.tm-input[type="text"] {
  width: 4em;
}

.tm-tag-remove {
  text-decoration: none;
  font-size: 150%;
}

.tm-tag-selected {
  color: #4594b5 !important;
  background-color: #c5eefa !important;
  border-color: #5dc8f7 !important;
}

.tm-tag {
  padding: 0 4px 2px !important;
}

.tm-tag span {
  cursor: default;
}
